*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 70px;
}

.todo-app{
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;   
    font-size: 24px;
}

.todo-app h2 span{
    font-size: 20px;
    margin-left: 10px;
}

.todo-app input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.add-btn{
    background-color: #002765;
    color: #fff;
    padding: 16px 50px ;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 20px;
}
.add-btn:hover{
    background-color: #003a8c;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height:28px ;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    
}
ul li.checked::before{
    background-image: url(images/checked.png);
     
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background:#ccc;
}
